*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(223, 226, 235);
}
/* colores */
.dark-2{
    color: rgb(112, 108, 108);
    font-size: smaller;
}
.t-c-1{
    color: rgb(255, 123, 0);
}

/* main css */
body{
    padding: 0 10%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.brand-right {
    list-style: none;
    display: flex;
    align-items: center;
}
.brand-right li{
    padding: 20px;
    font-weight: 750;
    font-size: small;
    margin: 05px;
}
.icon-bnt{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .brand-right button .icon-bnt img{
    width: 20px;
    height: 20px;
}
/* hover section */
.brand-right li:hover{
    color: black;
}
.brand-right li.active{
    color: black;
    background-color: rgb(233, 233, 233);
    border-radius: 0 0  0 30px;
}
.icon-bnt a:hover{
    color: black;
}

/* resposive for mobaile */

@media screen and (max-width: 576px){
/* header----------------------------------------- */
    header{
        display: flex;
        align-items: center;
    }
    header .brand-logo img{
        width: 63px;
        height: 38px;
        ;
    }
    header .brand-right li{
        display: none;
    }
header .brand-right button {
    border: 2px solid red;
}
    header .brand-right button .icon-bnt img{
        width: 40px;
        height: 50px;
}
    header .brand-right button .icon-bnt a{
        font-size: large;
        color: black;
}
    header .brand-right button .icon-bnt a:hover{
        color: rgb(104, 103, 103);
}  }