*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(223, 226, 235);
}
/* colores */
.dark-2{
    color: rgb(112, 108, 108);
    font-size: small;
}
.t-c-1{
    color: rgb(255, 123, 0);
}

/* main css */
body .kan{
    padding: 0 10%;
}
header{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.brand-right {
    list-style: none;
    display: flex;
    align-items: center;
}
.brand-right li{
    padding: 20px;
    font-weight: 750;
    font-size: small;
    margin: 05px;
}
.icon-bnt{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .brand-right button .icon-bnt img{
    width: 20px;
    height: 20px;
}
/* hover section */
.brand-right li:hover{
    color: black;
}
.brand-right li.active{
    color: black;
    background-color: rgb(233, 233, 233);
    border-radius: 0 0  0 30px;
}
.icon-bnt a:hover{
    color: black;
}
.s-a-a{
    margin-top:120px ;
    display: flex;
    justify-content:space-between ;
    align-items: center;    
}
.s-a-a-text{
    padding-top: 162px;
}
.s-a-a-text h1{
    font-size: 65px;
}
.s-a-a-img img{
    width: 570px;
    height: 355px;
}
/* ----------s-b */
.s-b-text{
    margin-top: 120px;
    width: 100%;
    text-align: center;
}
.s-b-a{
    display: grid;
    grid-template-columns: repeat(4, 1FR);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    margin-left: 0 20px;
    justify-content: space-around;
    
}
.s-b-img{
    text-align: center;
}
.s-b-img img{
    width: 200px;
}
.s-b-img button{
    width:200px ;
    background-color: rgb(255, 123, 0);
    height: 30px;
    border: none;
    color: #fdfdfd;
    }
/* ------------s-c */
.s-c{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    
    ;
}
.s-c .imag img{
    width: 500px;
    height: 500px;
}
.s-c .text{
    margin-top:50px ;
    margin-left: 50px;
    max-height: 380px;
}
.s-c .text h1{
    font-size: 50px;
}
.s-c .text li{
    font-size: 22px;
    list-style: disc;
    
}
/*        s-d */
.s-d{
    margin-top: 100px;
}
.s-d-text{
    text-align: center;
    margin-bottom: 20px;
}
.s-d-text h1{
    font-size: 50px;
}
.s-d-text p{
    font-size: 22px;
}
.s-d-img{
    display: flex;
}
.s-d-img .img-1-a{
    position: relative;
    display: inline-block;

}
.s-d-img .img-1-a img{
    width: 100%;
    border-radius: 20px;
    display: block; 
    
}
.s-d-img .img-1-a .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow:1px 1px 2px black;
    font-size: 11px;
    background-color: transparent;
}
.s-d-img .img-1-a .text h1{
    background-color: transparent;
    color: #ffffff;
}
.s-d-img .img-1-a .text a{
    color: #fffdfd;
    background-color: transparent;
}
.s-d-img .img-a {
    position: relative;
    display: inline-block;
    width: 1200px;

}
.s-d-img .img-a img{
    width: 100%;
    border-radius: 20px;
    display: block; 
    height: 400px; 
}

.s-d-img .img-a .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow:1px 1px 2px black;
    font-size: 24px;
    background-color: transparent;   
}
.s-d-img .img-a .text h1{
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.s-d-img .img-a .text a{
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.main-2{
    position: relative;
    display: inline-block;
    width: 100%;
}
.main-2 img{
    width: 100%;
    display: block; 
    height: 400px;
}
.main-2 .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow:1px 1px 2px black;
    font-size: 24px;
    background-color: transparent;   
}
.main-2 .text h1{
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
input{
    width: 300px;
    height: 30px;
    border: none;
}
.main-2 .text button{
    width: 70px;
    height: 30px;
    background-color: rgb(255, 123, 0) ;
    border: none;
}
footer{
    display: flex;
    justify-content: space-between;
}
footer .b{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-columns: repeat(4, 1FR);
    grid-template-rows: repeat(2, auto); */
}
footer .b li{
    list-style: none;
    padding: 20px;
}
footer .c img{
    padding: 10px;
}

/* resposive for mobaile */

@media screen and (max-width: 567px){
/* header----------------------------------------- */
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        
    }
    header .brand-logo img{
        width: 63px;
        height: 38px;
        align-items: center;
        justify-content: space-between;
    }
    header .brand-right li{
        display: none;
    }
    header .brand-right button {
    display: flex;
    align-items: center;
}
    header .brand-right button .icon-bnt img{
        width: 40px;
        height: 50px;
}
    header .brand-right button .icon-bnt a{
        font-size: large;
        color: black;
}
    header .brand-right button .icon-bnt a:hover{
        color: rgb(104, 103, 103);
}  /* main s-a     s-a-a   s-a-a-text/img */
    .s-a-a{
        margin-top: 0;
        display: flex;
        
        flex-direction: column-reverse;
}
    .s-a-a-img{
    
        width: 400px;
        height: 245px;
        
}
    .s-a-a-img img{
        width: 100%;
        height: 100%;
    }
    .s-a-a-text {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        padding-top: 20px;
    }
    .s-a-a-text h1{
        font-size:24px ;
    }
    .s-a-a-text p{
        margin-top: 20px;
        font-size: 14px;
    }
    .s-b-a{
    display: grid;
    grid-template-columns: repeat(2, 1FR);
    gap: 10PX;
    
    
}
/* ----s-c------ */
.s-c{
    margin-top: 150px;
    display: inline;
    justify-content: center;
    
}
.s-c .imag{
    margin-top: 50px;
    margin-left: 25px;
}
.s-c .imag img{
    width: 356px;
    height: 396px;
}
.s-c .text{
    margin-top: 20px;
}
.s-c .text h1{
    font-size: 30px;
    
}
.s-c .text li{
    font-size: 15px;
    
}
    .s-d-img{
        display: inline;
    }
    .s-d-img .img-a {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 200px;
    padding: 20px;
    

}
.s-d-img .img-a img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: block; 
    margin-left: -15px;
        
}

.s-d-img .img-a .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow:1px 1px 2px black;
    font-size: 12px;
    background-color: transparent;   
}
.s-d-img .img-a .text h1{
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.s-d-img .img-a .text a{
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.s-d-text{
    margin-bottom: 40px;
}
.main-2 .text{
    width: 100%;
    
}
.main-2 .text h1{
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 30px;
}
.s-d-text p{
    font-size: 15px;
}
input{
    width: 100px;
    height: 30px;
    border: none;
}
button{
    width: 70px;
    height: 30px;
    background-color: rgb(255, 123, 0) ;
    border: none;
}
footer{
    display: inline;
    justify-content: space-between;
}
footer .b{
    display: inline;

}
footer .b li{
    list-style: none;
    padding: 20px;
}
footer .c img{
    padding: 10px;
}
}